.depot-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  height: 500px; /* Adjust the height as needed */
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  width: 800px;

}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.alert {
  border-radius: 8px;
}

.slider-container {
  position: relative;
  width: 75%;

  .card-container {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: z-index 250ms;
    margin-top: 20px;
    margin-left: 80px;
    .cards {
      position: relative;
      left: 0;
      top: 0;
      width: 300px; /* Set your desired card width */
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2); /* Card shadow */
      transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
      opacity: 0;
      border-radius: 15px;
    }

    &hideLeft {
      .cards {
        transform: translateX(-50%);
      }
    }

    &.prev {
      z-index: 1;
      .cards {
        opacity: 0.8;
        transform: translateX(-25%);
      }
    }

    &.selected {
      z-index: 2;
      .cards {
        opacity: 1;
        transform: translateX(0%);
        cursor: grab;
      }
    }

    &.next {
      z-index: 1;
      .cards {
        opacity: 0.8;
        transform: translateX(25%);
      }
    }

    &hideRight {
      .cards {
        transform: translateX(50%);
      }
    }
  }
}

:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.depot-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.card-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
