<div class="container" >
<mat-form-field appearance="outline"  >
  <mat-label style="color: #2FBDEA">Name</mat-label>
  <input matInput placeholder="Name">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label style="color: #A1CD62" >Last Name</mat-label>
  <input matInput placeholder="Last Name">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label style="color: red">Mail</mat-label>
  <input matInput placeholder="Mail">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label style="color: #2FBDEA">Phone Number</mat-label>
  <input matInput placeholder="Phone Number">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label style="color: #A1CD62">Password</mat-label>
  <input matInput placeholder="Password">
</mat-form-field>

  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" style="background-color: #A1CD62;
    color:  white;" >show uers</button>
    <button mat-raised-button style="  background-color:white ;
    color: #A1CD62;" type="submit">add user</button>
  </div>
</div>


