<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">VEM</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">PLANNING</div>
    <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>

  <ng-template #navData let-collapsed="collapsed">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="sidenav-link-icon fal fa-home"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Dashboard</span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" [routerLink]="['/products']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="sidenav-link-icon fal fa-gas-pump"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Products</span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" [routerLink]="['/planning']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="sidenav-link-icon fal fa-clipboard-list"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Planning</span>
        </a>
      </li>
      <li class="sidenav-nav-item" *ngIf="keycloackService.getUserRoles().includes('ADMIN')">
        <a class="sidenav-nav-link" routerLink="/salesforcast">
          <i class="sidenav-link-icon fal fa-chart-line"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Salesforcast</span>
        </a>
      </li>
      <li class="sidenav-nav-item" *ngIf="keycloackService.getUserRoles().includes('ADMIN')">
        <a class="sidenav-nav-link" routerLink="/bac">
          <i class="sidenav-link-icon fal fa-coins"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Bac</span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" [routerLink]="['/depot']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="sidenav-link-icon fal fa-cube"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Depot</span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" [routerLink]="['/stock']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="sidenav-link-icon fal fa-box-open"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Stock</span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" [routerLink]="['/entresortie']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="sidenav-link-icon fal fa-bolt"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">Entre/Sortie</span>
        </a>
      </li>
    </ul>
  </ng-template>

  <ng-container *ngTemplateOutlet="navData; context: {collapsed: collapsed}"></ng-container>
</div>
