<div class="card-container">
  <div class="card"  style="background: blue">
    <div class="card-body ">
      <div class="icon">
        <i class="fal fa-location"></i>
      </div>
      <div class="top">{{ previsionNextM }}</div>
      <div class="bottom">Prevision /mois prochain</div>
    </div>
  </div>
  <div class="card" style="background: forestgreen" >
    <div class="card-body">
      <div class="icon">
        <i class="fal fa-arrow-circle-up"></i>
      </div>
      <div class="top">{{ totalEntree }}</div>
      <div class="bottom">Produit-entrant /ce mois</div>
    </div>
  </div>
  <div class="card" style="background: red">
    <div class="card-body">
      <div class="icon">
        <i class="fal fa-arrow-circle-down"></i>
      </div>

      <div class="top">{{totalSortie}}</div>
      <div class="bottom">Produit-sortant /ce mois</div>

    </div>
  </div>


</div>

