<div class="widget-container">
  <div class="widget blue">
    <div class="icon">
      <i class="fal fa-location"></i>
    </div>
    <div class="value">
      <div class="top">20</div>
      <div class="bottom">Depot Disponible</div>
    </div>

  </div>
  <div class="widget green">
    <div class="icon">
      <i class="fal fa-arrow-circle-up"></i>
    </div>
    <div class="value">
      <div class="top">200000</div>
      <div class="bottom">Produit entrant</div>
    </div>

  </div>
  <div class="widget red">
    <div class="icon">
      <i class="fal fa-arrow-circle-down"></i>
    </div>
    <div class="value">
      <div class="top">340000</div>
      <div class="bottom">Produit sortant</div>
    </div>

  </div>
  <div class="widget grey">
    <div class="icon">
      <i class="fal fa-cubes"></i>
    </div>
    <div class="value">
      <div class="top">14000</div>
      <div class="bottom">Stock/jour</div>
    </div>

  </div>
</div>

