<div mat-dialog-title class="title">
  <h1>Ajout entree sortie</h1>
</div>
<form [formGroup]="bacForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>quantité</mat-label>
        <input matInput type="text" placeholder="1200" formControlName="quantite">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="typeES" (change)="onTypeESChange()">
      <mat-label><b>Vous voulez entrer un produit ou sortir</b></mat-label>
        <mat-radio-button value="true">Entrer</mat-radio-button>
        <mat-radio-button value="false">Sortir</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="row" *ngIf="showBusinessOptions">
      <mat-radio-group aria-label="Select a business" formControlName="business">
        <mat-label><b>Selectionez business</b></mat-label>
        <mat-radio-button value="FUELS">Fuels</mat-radio-button>
        <mat-radio-button value="RETAIL">Retail</mat-radio-button>
        <mat-radio-button value="AVIATION">Aviation</mat-radio-button>
        <mat-radio-button value="MARINE">Marine</mat-radio-button>
        <mat-radio-button value="SUPPLY">Supply</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" style="color: white;background-color: #A1CD62" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button style="color: #A1CD62" type="submit">Save</button>
  </div>
</form>
